.home-img {
  width: 100%;
  height: auto;
  aspect-ratio: 7951 / 4101;
}
.home-img-attribution {
  margin-left: auto;
  display: block;
  width: max-content;
  margin-bottom: 1rem;
}
.intro-paragraph {
  margin-bottom: 1rem;
}
