.menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu span {
  font-size: var(--text-base);
}
.menu ul {
  display: grid;
}
.menu {
  width: max-content;
  padding: 1rem;
  border: 1px black;
  border-style: dashed;
  margin-top: 1rem;
}
.menu li {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
}

h2 {
  text-decoration: underline;
}
.menu .item-with-description {
  display: grid;
  grid-template-columns: auto auto;
}
.menu .item-with-description span:nth-child(2) {
  grid-row: 2/3;
}
.menu .item-with-description span:nth-child(3) {
  grid-row: span 2;
}
.menu .item-with-description span {
  max-width: 28ch;
}
