@import "modern-normalize";
@font-face {
  font-family: "paradose-regular";
  src: url("../font/wsparadoseregular-1jpae-webfont.woff2") format("woff2"),
    url("../font/wsparadoseregular-1jpae-webfont.woff") format("woff");
}
/* Default */
:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}
body {
  --main-bg-color: #f8f4f6;
  --accent: rgb(85, 26, 139);
}

/* Typography */
:root {
  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;
}
/* Spacing */
:root {
  --spacing: 0.25rem;
}

/* Width for nav and main */
.width-nav-main {
  width: min(90%, 1000px);
  margin: 0 auto;
}
/* Header */
.header {
  border-bottom: 2px solid var(--accent);
}
/* Navigation */
.nav {
  padding-block: calc(var(--spacing) * 5);
  display: flex;
  flex-wrap: wrap;
  row-gap: calc(var(--spacing) * 3);
  align-items: start;
  column-gap: calc(var(--spacing) * 4);
}

.nav-brand {
  font-family: "paradose-regular", serif;
  font-size: var(--text-4xl);
  line-height: var(--text-4xl--line-height);
  margin-right: auto;
  color: var(--accent);
  text-decoration-thickness: 4px;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--text-2xl);
  column-gap: calc(var(--spacing) * 12);
  border-bottom: 4px solid var(--accent);
}

.nav-list-item button {
  background-color: transparent;
  border: none;
  color: var(--accent);
  cursor: pointer;
  transition: transform 0.2s ease, text-decoration 1s ease;
}
.nav-list-item button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  transform: scale(1.2);
  text-decoration-color: var(--accent);
}
#content {
  background-color: rgb(228, 228, 153);
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .nav-brand {
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
  }
}
